<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

<html>

    <head>
        {% block title %}About Us{% endblock %}
    </head>

    <body>
        {% block content %}
    	<div class="container">
	        <h1>About Us</h1>
	        Sed facilisis tortor tristique nisl interdum, a tempor tortor interdum. In quam eros, commodo vitae sodales id, facilisis in erat. In ligula libero, tincidunt sodales hendrerit ac, posuere ut tortor. Donec pellentesque magna at metus vulputate tempor. Vestibulum aliquam sodales justo, et cursus purus placerat nec. Vivamus nec massa imperdiet, porta nisi et, commodo sapien. Proin dignissim augue vitae faucibus tincidunt. Curabitur vel luctus nulla, tempus aliquet erat. Aliquam lacus magna, sollicitudin porta mi quis, suscipit eleifend diam. Cras interdum turpis aliquet semper maximus. Integer vel consequat turpis, vel pellentesque metus. Nulla placerat efficitur erat non sodales. Vestibulum at tellus ut neque scelerisque vehicula ac ut risus. Aliquam sit amet sem placerat, eleifend purus ut, elementum quam. Suspendisse risus lectus, congue et scelerisque nec, scelerisque sed est. <strong>{{ boldmessage }}</strong><br />
		</div>
        {% endblock %}
    </body>
    {% include 'snippets/bootstrapjs.html' %}
</html>