Django==1.7.1
Pillow==2.7.0
South==1.0.2
diff-match-patch==20121119
dj-database-url==0.3.0
dj-static==0.0.6
django-crispy-forms==1.4.0
django-haystack==2.4.0
django-import-export==0.2.7
django-toolbelt==0.0.1
gunicorn==19.1.1
psycopg2==2.5.4
pysolr==3.3.2
requests==2.7.0
static3==0.5.1
tablib==0.10.0
virtualenv==12.0.6
zurb-foundation==5.5.1.post1
