{% block title %}Contact Us{% endblock title %}
{% block content %}
	<head>
		<title>Sheltr Email</title>
		<link href="email.css" rel="stylesheet" type="text/css"/>
	</head>-
	<body>
      <form method="post" action="/emails/email/send/">{% csrf_token %}
        <div class="name"><p>
          <label class="label">Name  <span class="required">*</span></label>
		  </br>
            <span class="span" >
			  <label class="spanlabel">First:</label>
              <input name= "firstname" class="inputtext" maxlength="255" size="18" />
              </br>
            </span>
            <span class="span">
			  <label class="spanlabel">Last:</label>
              <input name= "lastname" class="inputtext" maxlength="255" size="18" />
              
            </span> 
			</p>
        </div>
		
        <div class="email">
          <label class="label"><p>Email Address  <span class="required">*</span></label>
          <input name="email" class="inputtext" type="text" maxlength="255" size="35" /></p> 
        </div>
        <div class="subject">
          <label class="label">Subject  <span class="required">*</span></label>
          <input name="subject" class="inputtext" type="text" maxlength="255" size="45" />
        </div>
        <!--<div class="botcheck">
          <label class="label">You must answer <u>YES</u> to the question below to<br /> approve sending this email.  <span class="required">*</span></label>
              Do you want to send me an email? <input name="botcheck" class="inputtext" type="text" maxlength="5" size="5" /></div> -->
        <div class="message">
          <p><label class="label">Message  <span class="required">*</span></label>
		  </br>
          <textarea name="message" class="inputtextarea" rows="11" cols="45"></textarea>
		  </p>
        </div>
        <div class="button">
          <input class="submitform" type="submit" name="submitform" value="Send Message" />
        </div>
      </form>
	</body>

    {% endblock content %}
