.navbar-default {
    background-color: #5E5E5E;
    border-color: black;
}
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: gray;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}